{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12">
  <h1
    class="text-5xl font-bold mb-6 text-text-primary-light dark:text-text-primary-dark"
  >
    {{ .Title }}
  </h1>
  <div
    class="bg-bg-primary-light dark:bg-bg-secondary-dark p-8 rounded-lg border border-border-primary-light dark:border-border-primary-dark"
  >
    <div class="prose prose-invert prose-lg max-w-none">
      <div
        class="text-text-secondary-light dark:text-text-secondary-dark text-lg mb-8"
      >
        {{ .Content }}
        <!-- Contact Form -->
        <form
          method="post"
          action="https://formcarry.com/s/J-8C6QgQr35"
          accept-charset="UTF-8"
          class="border border-border-primary-light dark:border-border-primary-dark rounded-lg p-6 bg-bg-primary-light dark:bg-bg-secondary-dark text-text-primary-light dark:text-text-primary-dark max-w-4xl mx-auto space-y-4"
        >
          <!-- Redirect to success page -->
          <input
            type="hidden"
            name="_redirect"
            value="https://jorgefelipe.info/success"
          />
          <div>
            <label
              for="name"
              class="block text-sm font-medium text-text-secondary-light dark:text-text-secondary-dark"
              >Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              required
              class="mt-1 block w-full rounded border border-border-primary-light dark:border-border-primary-dark bg-white dark:bg-bg-tertiary-dark text-text-primary-light dark:text-text-primary-dark p-2"
            />
          </div>
          <div>
            <label
              for="email"
              class="block text-sm font-medium text-text-secondary-light dark:text-text-secondary-dark"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              required
              class="mt-1 block w-full rounded border border-border-primary-light dark:border-border-primary-dark bg-white dark:bg-bg-tertiary-dark text-text-primary-light dark:text-text-primary-dark p-2"
            />
          </div>
          <div>
            <label
              for="message"
              class="block text-sm font-medium text-text-secondary-light dark:text-text-secondary-dark"
              >Message</label
            >
            <textarea
              id="message"
              name="message"
              rows="5"
              required
              class="mt-1 block w-full rounded border border-border-primary-light dark:border-border-primary-dark bg-white dark:bg-bg-tertiary-dark text-text-primary-light dark:text-text-primary-dark p-2"
            ></textarea>
          </div>
          <div>
            <button
              type="submit"
              class="bg-primary-light dark:bg-primary-dark text-primary-light dark:text-primary-dark border border-primary-light dark:border-primary-dark px-6 py-2 rounded-md font-medium shadow-sm hover:bg-secondary-dark dark:hover:bg-secondary-dark/80 hover:border-primary-dark dark:hover:border-primary-light transition-colors duration-300"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .contact-link {
    position: relative;
    overflow: hidden;
    border: 1px solid #d1d5db; /* border-primary-light */
  }
  html.dark .contact-link {
    border: 1px solid #4b5563; /* border-primary-dark */
  }

  .contact-link:hover {
    border-color: #9ca3af; /* border-secondary-light */
    transform: translateY(-2px);
  }
  html.dark .contact-link:hover {
    border-color: #6b7280; /* border-secondary-dark */
  }

  @media (max-width: 768px) {
    .contact-link {
      width: 100%;
    }
  }
</style>

<style>
  /* Toaster styles */
  .toaster {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--toaster-bg, #333);
    color: var(--toaster-text, white);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.3s ease,
      color 0.3s ease;
  }

  html.dark .toaster {
    --toaster-bg: #e5e7eb;
    --toaster-text: #1f2937;
  }

  .toaster.show {
    opacity: 1;
  }
</style>

<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(
      function () {
        showToaster("Discord username copied to clipboard!");
      },
      function (err) {
        showToaster("Failed to copy username.");
        console.error("Could not copy text: ", err);
      }
    );
  }

  function showToaster(message) {
    const toaster = document.createElement("div");
    toaster.className = "toaster";
    toaster.textContent = message;
    document.body.appendChild(toaster);
    setTimeout(() => {
      toaster.classList.add("show");
    }, 10);
    setTimeout(() => {
      toaster.classList.remove("show");
      setTimeout(() => {
        document.body.removeChild(toaster);
      }, 500);
    }, 3000);
  }
</script>

{{ end }}
