{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12">
  <h1
    class="text-5xl font-bold mb-3 text-text-primary-light dark:text-text-primary-dark"
  >
    {{ .Title }}
  </h1>

  <div
    class="mb-12 bg-bg-primary-light dark:bg-bg-secondary-dark p-8 rounded-lg border border-border-primary-light dark:border-border-primary-dark"
  >
    <div class="intro-section">
      <div
        class="text-text-secondary-light dark:text-text-secondary-dark prose prose-invert max-w-none"
      >
        {{ .Content }}
      </div>
    </div>
  </div>

  <div class="space-y-8">
    {{ $experienceData := index site.Data .Language.Lang "experience" }} {{ with
    $experienceData.experience }} {{ range . }}
    <!-- conteúdo do experience aqui -->
    {{ end }} {{ end }}
  </div>
</div>
{{ end }}
